@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
$text-center: center;

// @import 'colors';
$red: #ee1515;
$white: white;
$grey: #f0f0f0;
$black: #222224;
$green: #66A612;


// @import 'header';
@import 'mixins';
// @import 'placeholders';

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background: url("img/pokebg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
  padding: 1% 1% 0%;
  background-color: $red;
  border-bottom: 10px solid #000;
      h1{
        color: $white;
      }
    
}

#pokemon-container{ 
  padding-top: 2%;
  padding-bottom: 3%;
  max-width: 90%;
  min-height: 600px;
  // display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  text-align: $text-center;
  font-size: 16px;
}

.trainer {
  max-height: 275px;
}
.pokemon-cards{
  width: 27%;
  // margin: 1%;
  // padding-bottom: 0;
  max-width: 250px;
  @include rounded-corner(5px);
  @include box-shadow();
  background-color: $white;
  border: 1px solid $red;
  // opacity: .6;

        &:hover{
                opacity: 1;
            
        }
        img{
          max-width: 96px;
        }
         
}
.stats{
            font-weight: 500;
          }
footer{
  color: $white;
  padding: 1%;
  margin: 0px;
  text-align: $text-center;
  background-color: $green;
  a{
    text-decoration: none;
  }
}


/* comment */